.logo-1 {
    /* max-width: 150px;
    height: auto; */
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.logo-2 {
    width: 140px;           /* Tamanho base da imagem */
    height: auto;
    object-fit: contain;
    transform: scale(1.5);  /* Amplia visualmente a imagem */
    transform-origin: left center; /* Mantém alinhamento à esquerda */
}

.navbar-1 {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 0;
}

.navbar-2 {
    background-color: royalblue !important;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
}

.imagem-login {
    background-image: url('/static/imagem.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    border-radius: 10px;
}

.formulario-1{
    border: 3px solid mediumseagreen; 
    border-radius: 10px;
    margin-bottom: 15px;
}

.link-1{
    color: mediumseagreen;
    text-decoration: none;
    font-size: 1rem;
}
.link-1:hover{
    color:seagreen ;
}

.text-1{
    font-size: 1rem;
}

.button-1{
    background-color: mediumseagreen !important;
    border-color: mediumseagreen !important;
}
.button-1:hover{
    background-color: seagreen !important;
    cursor: pointer !important;
}

.formulario-2 .row{
    gap: 25px 0;
}
.formulario-2 button{
    margin-top: 20px;
}

.color-border1{
    border: 2px solid darkgray !important;
}

.button-2{
    background-color: royalblue !important;
    border-color: royalblue !important;
}
.button-2:hover{
    background-color: mediumblue !important;
    cursor: pointer !important;
}
.title-color2{
    color: (54,54,54);
    font-size: 18px;
    font-weight: bold;
}
.link-2{
    color: royalblue;
    text-decoration: none;
    font-size: 1rem;
}
.link-2:hover{
    color: mediumblue;
}

.icone-1 {
    color: darkorange;
    margin-right: 5px;
}

.text-2 {
    color: darkorange;
    font-style: italic;
    font-weight: bold;
}

.text-3 {
    color: mediumseagreen !important;
    font-weight: bold !important;
}

.text-4 {
    color: mediumseagreen;
    text-align: center;
}

.input-preco {
    display: flex;
    align-items: center;
    gap: 6px;
}

.input-preco .prefixo {
    font-weight: bold;
    color: #333;
}

.input-preco input {
    flex: 1;
}

.linha-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    color: black;
}

.button-3 {
    justify-content: center !important;
    margin-top: 20px !important;
    gap: 10px !important;
}