{% extends 'base.html' %}

{% block conteudo %}

<nav class="navbar navbar-expand-lg navbar-dark py-2 navbar-2">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- Logo ou título -->
        <a class="navbar-brand" href="#">Gestão de Produtos</a>

        <!-- Links à direita -->
        <div class="d-flex align-items-center">
            <a class="nav-link text-white me-5" href="{{ url_for('cadastrar_produto') }}">Cadastrar Produtos</a>
            <a class="nav-link text-white" href="{{ url_for('consultar_produto') }}">Consultar Produtos</a>
        </div>
    </div>
</nav>

{% endblock %}