{% extends 'base.html' %}

{% block conteudo %}

<div class="container-fluid d-flex flex-column align-items-center p-3">
    <!-- logo -->
    <div class="text-center mb-3">
        <img src="{{url_for('static', filename='logo.png')}}" alt="Logo" class="img-fluid logo-1">
    </div>
    <!-- imagem -->
    <img src="{{url_for('static', filename='imagem2.jpg')}}" alt="Imagem" class="top-imagem mb-4">
    <!-- formulario -->
    <div class="form-container">
        <div class="form-side">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show mt-2" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form method="post" action="{{url_for('cadastro')}}" class="formulario-2">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="nome" class="form-label title-color2">Nome:</label>
                        <input type="text" class="form-control color-border1" id="nome" name="nome" required>
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label title-color2">Email:</label>
                        <input type="email" class="form-control color-border1" id="email" name="email" required>
                    </div>
                    <div class="col-md-6">
                        <label for="senha" class="form-label title-color2">Senha:</label>
                        <div class="position-relative">
                            <input type="password" class="form-control pe-5 color-border1" id="senha" name="senha"
                                required>
                            <i id="iconeOlho"
                                class="fa fa-eye position-absolute top-50 end-0 translate-middle-y me-3"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="cpf" class="form-label title-color2">CPF:</label>
                        <input type="text" class="form-control color-border1" id="cpf" name="cpf">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="">
                            <i class="bi bi-exclamation-triangle-fill icone-1"></i>
                            <span class="text-2">Importante!</span>
                        </label>
                        <select class="form-select color-border1" name="tipo" id="tipo" onchange="mostrarCamposAdmin()"
                            required>
                            <option value="">Selecione...</option>
                            <option value="cliente">Cliente</option>
                            <option value="administrador">Administrador</option>
                        </select>
                    </div>
                </div>
                <div id="camposAdmin" style="display: none;">
                    <div class="row mb-3">

                        <div class="col-md-6">
                            <label for="endereco" class="form-label title-color2">Endereço:</label>
                            <input type="text" class="form-control color-border1" id="endereco" name="endereco">
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary px-4 button-2">Cadastrar</button>
                </div>
                <div class="text-center mt-3">
                    <small>Já possui cadastro?<a class="link-2" href="/login"> Clique aqui </a></small>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ocultar senha -->
<script>
    function mostrarSenha() {
        const campo = document.getElementById("senha");
        const icone = document.getElementById("iconeOlho");

        if (campo.type === "password") {
            campo.type = "text";
            icone.classList.remove("fa-eye");
            icone.classList.add("fa-eye-slash");
        }
        else {
            campo.type = "password";
            icone.classList.remove("fa-eye-slash");
            icone.classList.add("fa-eye")
        }
    }
</script>

<!-- Campo CPF e endereço aparecem apenas se o tipo for admin  -->
<script>
    function mostrarCamposAdmin() {
        const tipo = document.getElementById("tipo").value;
        const campos = document.getElementById("camposAdmin");

        if (tipo === "administrador") {
            campos.style.display = "block";
        }
        else {
            campos.style.display = "none";
        }
    }
</script>


{% endblock %}