{% extends 'base.html' %}

{% block conteudo %}

<div class="container-fluid d-flex flex-column align-items-center p-3">
    <!-- logo -->
    <div class="text-center mb-3">
        <img src="{{url_for('static', filename='logo.png')}}" alt="Logo" class="img-fluid logo-1">
    </div>
    <!-- imagem -->
     <img src="{{url_for('static', filename='imagem2.jpg')}}" alt="Imagem" class="top-imagem mb-4">
     <!-- formulario -->
      <div class="form-container">
        <div class="form-side">
            <form method="post" action="{{url_for('cadastro')}}" class="formulario-2">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="nome" class="form-label">Nome:</label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="col-md-6">
                        <label for="senha" class="form-label">Senha:</label>
                        <div class="position-relative">
                            <input type="password" class="form-control pe-5" id="senha" name="senha" required>
                            <i id="iconeOlho" class="fa fa-eye position-absolute top-50 end-0 translate-middle-y me-3"></i> 
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label icone-1" for="">
                            <i class="bi bi-exclamation-triangle-fill">Importante!</i>
                        </label>
                        <select class="form-select" name="tipo" id="tipo" onchange="mostrarCamposAdmin()" required>
                            <option value="">Selecione...</option>
                            <option value="cliente">Cliente</option>
                            <option value="administrador">Administrador</option>
                        </select>
                    </div>
                </div>
                <div id="camposAdmin" style="display: none;">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="cpf" class="form-label">CPF:</label>
                            <input type="text" class="form-control" id="cpf" name="cpf">
                        </div>
                        <div class="col-md-6">
                            <label for="endereco" class="form-label">Endereço:</label>
                            <input type="text" class="form-control" id="endereco" name="endereco">
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary px-4">Cadastrar</button>
                </div>
                <div class="text-center mt-3">
                    <small >Já possui cadastro?<a href="/login"> Clique aqui </a></small>
                </div>
            </form>
        </div>
      </div>
</div>

<!-- ocultar senha -->
 <script>
    function mostrarSenha() {
        const campo = document.getElementById("senha");
        const icone = document.getElementById("iconeOlho");

        if (campo.type === "password") {
            campo.type = "text";
            icone.classList.remove("fa-eye");
            icone.classList.add("fa-eye-slash");
        }
        else{
            campo.type = "password";
            icone.classList.remove("fa-eye-slash");
            icone.classList.add("fa-eye")
        }
    }
 </script>

 <!-- Campo CPF e endereço aparecem apenas se o tipo for admin  -->
<script>
    function mostrarCamposAdmin() {
        const tipo = document.getElementById("tipo").value;
        const campos = document.getElementById("camposAdmin");

        if (tipo === "administrador") {
            campos.style.display = "block";
        }
        else{
            campos.style.display = "none";
        }
    }
</script>


{% endblock %}